# (c) 2020, Ava Labs, Inc. All rights reserved.
# See the file LICENSE for licensing terms.

export AWS_ACCESS_KEY_ID="a"
export AWS_REGION="b"
export AWS_SECRET_ACCESS_KEY="c"
export DOCKER_REGISTRY="d"
export DOCKER_USER="e"
